<div class="row carouselclass">
      <ngx-carousel [inputs]="carouselConfig">
        <ngx-item *ngFor="let item of items" NgxCarouselItem>
            <img style="width: 100% ; height: 40% ;" [src]="item.title" alt="not available" />
        </ngx-item>
        <button NgxCarouselPrev class="leftRs">&lt;</button>
        <button NgxCarouselNext class="rightRs">&gt;</button>
      </ngx-carousel>
</div>
  <div class="wrapper" id="scrollHere" name="scrollHere">

    <div class="homepagecontentheading">
      <h2>News</h2>
    </div>

    <div class="homepageContent">
      <p>Recent Stories from around campus,published daily </p>
    </div>

    <div class="row">
    <div class="col-xs-7">
    <div class="textOverImage" data-text="April Roller Earns Learning to a Greater Degree Award for Dedication to Suicide Prevention.
April Roller (center) was presented the Learning to a Greater Degree Award for her dedication to suicide prevention and outstanding volunteer work. ">
      <img width="100%" height="70%" src="../../assets/images/ucmNews1.jpg" >
    </div>
    </div>

    <div class="col-xs-7">
    <div class="textOverImage" data-text="UCM Students Experience World Government on the International Stage.
UCM senior Sydney Montague, right, and Zachary Wong, a fellow intern from California, attended a briefing during their internships with the U.S. State Department in Vienna, Austria.">
      <img width="100%" height="70%" src="../../assets/images/ucmNews2.jpg" >
    </div>
    </div>
    </div>

    <div class="row">
      <div class="col-xs-7">
        <div class="textOverImage" data-text="Commitment to Service Recognized with Learning to a Greater Degree Award.
Michelle Conrad received the Fall 2017 Learning to a Greater Degree Award from UCM President Chuck Ambrose during the Jan. 4 Learning Day luncheon.">
          <img width="100%" height="70%" src="../../assets/images/ucmNews3.jpg" >
        </div>
      </div>

      <div class="col-xs-7">
        <div class="textOverImage" data-text="UCM Students Give Mo a Birthday Makeover.
Assistant professor of Fashion and Apparel Merchandising Melissa Abner (left) works with fashion majors to measure Mo the Mule for his student-designed makeover.">
          <img width="100%" height="70%" src="../../assets/images/ucmNews4.jpg" >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-7">
        <div class="textOverImage" data-text="Jennifer Carson Receives Learning to a Greater Degree Award for Commitment to Criminal Justice, The Honors College.
Jennifer Carson (left), assistant professor of Criminal Justice helps a student with a hands-on learning assignment.">
          <img width="100%" height="70%" src="../../assets/images/ucmNews5.jpg" >
        </div>
      </div>

      <div class="col-xs-7">
        <div class="textOverImage" data-text="Cricket Brings a Piece of Home to Warrensburg for International Students.
More than 180 students are participating in UCM's first five-week intramural cricket tournament.">
          <img width="100%" height="70%" src="../../assets/images/ucmNews6.jpg" >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-7">
        <div class="textOverImage" data-text="Student Competes in Regional Cake Decorating Competition.
UCM student Emily Kleoppel creates the final decorations for her creation at Hy-Vee's cake decorating competition.">
          <img width="100%" height="70%" src="../../assets/images/ucmNews7.jpg" >
        </div>
      </div>

      <div class="col-xs-7">
        <div class="textOverImage" data-text="Alix Calon Brings Professional Conference to UCM to Benefit Students.
Alix Calon with the AIBD Student of the Year and AIBD Chapter of the Year awards">
          <img width="100%" height="70%" src="../../assets/images/ucmNews8.jpg" >
        </div>
      </div>
    </div>

  </div>
