<div class="row carouselclass">
      <ngx-carousel [inputs]="carouselConfig">
        <ngx-item *ngFor="let item of items" NgxCarouselItem>
            <img style="width: 100% ; height: 40% ;" [src]="item.title" alt="not available" />
        </ngx-item>
        <button NgxCarouselPrev class="leftRs">&lt;</button>
        <button NgxCarouselNext class="rightRs">&gt;</button>
      </ngx-carousel>
</div>
  <div class="wrapper" id="scrollHere" name="scrollHere">

    <div class="homepagecontentheading">
      <h2>News</h2>
    </div>

    <div class="homepageContent">
      <p>Recent Stories from around campus,published daily </p>
    </div>

    <div class="row">
    <div class="col-sm-6">
    <div class="textOverImage" data-text="April Roller (center) was presented the Learning to a Greater
    Degree Award for her dedication to suicide prevention and outstanding volunteer work. ">
      <img width="100%" height="70%" src="../../assets/images/ucmNews1.jpg" >
    </div>
    </div>

    <div class="col-sm-6">
    <div class="textOverImage" data-text="UCM Faculty Receive Promotion, Tenure for Academic Year 2018-19">
      <img width="100%" height="70%" src="../../assets/images/ucmFacultyNews.jpg" >
    </div>
    </div>

      <div class="col-sm-6">
        <div class="textOverImage" data-text="UCM Faculty Receive Promotion, Tenure for Academic Year 2018-19">
          <img width="100%" height="70%" src="../../assets/images/ucmFacultyNews.jpg" >
        </div>
      </div>

      <div class="col-sm-6">
        <div class="textOverImage" data-text="UCM Faculty Receive Promotion, Tenure for Academic Year 2018-19">
          <img width="100%" height="70%" src="../../assets/images/ucmFacultyNews.jpg" >
        </div>
      </div>

      <div class="col-sm-6">
        <div class="textOverImage" data-text="UCM Faculty Receive Promotion, Tenure for Academic Year 2018-19">
          <img width="100%" height="70%" src="../../assets/images/ucmFacultyNews.jpg" >
        </div>
      </div>

      <div class="col-sm-6">
        <div class="textOverImage" data-text="UCM Faculty Receive Promotion, Tenure for Academic Year 2018-19">
          <img width="100%" height="70%" src="../../assets/images/ucmFacultyNews.jpg" >
        </div>
      </div>

      <div class="col-sm-6">
        <div class="textOverImage" data-text="UCM Faculty Receive Promotion, Tenure for Academic Year 2018-19">
          <img width="100%" height="70%" src="../../assets/images/ucmFacultyNews.jpg" >
        </div>
      </div>

      <div class="col-sm-6">
        <div class="textOverImage" data-text="UCM Faculty Receive Promotion, Tenure for Academic Year 2018-19">
          <img width="100%" height="70%" src="../../assets/images/ucmFacultyNews.jpg" >
        </div>
      </div>
  </div>

  </div>
