<div class="news-heading"><h1>University Of Central Missouri</h1>
  &nbsp;
<h4>Recent Strories from around campus,published daily</h4></div>
  &nbsp;
<div>
  <!--iFrames allows you to embed a webpage w/in a web page-->
  <iframe width="300" height="200" src="https://www.youtube.com/embed/tvecU_Y_CQ0?list=PL0KjPtx-OKKqjBrfcE3UB_zaIgUKx9442"
          frameborder="0" allowfullscreen></iframe><a href="https://www.youtube.com/watch?v=mYVZ69wwAOk">University of central missouri latest news</a>
</div>
