<div class="conatiner">
<div id="image" class="image">
  <img alt="Image not found"
       [ngStyle]="{'margin-top': '-20px'}"
       width="100%"
       height="40%"
       src="../../assets/images/home.jpg">
</div>
<div class="wrapper" id="scrollHere" name="scrollHere">

  <div class="homepagecontentheading">
    <h2>Home</h2>
  </div>

  <div class="homepageContent">
    <p>The University of Central Missouri (UCM), formerly Central Missouri State University (CMSU), is a public state university located in Warrensburg, Missouri, United States. It serves more than 14000 students[4] from 49 states and 59 countries on its 1,561-acre campus. UCM offers 150 programs of study, including 10 pre-professional programs, 27 areas of teacher certification, and 37 graduate programs. Students also have the ability to study abroad in about 60 different countries in the world through the International Center.</p>
  </div>

  <div class="homepageheading2">
    <h3>Choose Red to empower your potential</h3>
  </div>

  <div class="homepagecontent2 row">
    <div class="cdf" class="col-xs-6">
      <!--iFrames allows you to embed a webpage w/in a web page-->
      <iframe width="300" height="200" src="https://www.youtube.com/embed/tvecU_Y_CQ0?list=PL0KjPtx-OKKqjBrfcE3UB_zaIgUKx9442"
                 frameborder="0" allowfullscreen></iframe>
      </div>
    <div class="abc col-xs-6">
      <p>At UCM, your professors will know you by your first name. You'll gain hands-on experience and impact the community through service-learning projects. Here, you'll have the opportunity to shape the future and make friendships that will last a lifetime.At UCM, you'll get more than what's in the books. You'll discover learning to a greater degree.</p>
    </div>

  </div>
</div>
</div>