.mainmenu{
  background-color: darkred;
  text-align: center;
}
.navbar-menu li {
  display:inline-block;
  margin-right: 70px;
  height: 50px;
  margin-top: 10px;
  padding-top: 10px;
  font-weight: bold;

}
.navbar-menu li a{
  color: white;
}
