<div class="row carouselclass">
  <ngx-carousel [inputs]="carouselConfig">
    <ngx-item *ngFor="let item of items" NgxCarouselItem>
      <img style="width: 100% ; height: 40% ;" [src]="item.title" alt="not available" />
    </ngx-item>
    <button NgxCarouselPrev class="leftRs">&lt;</button>
    <button NgxCarouselNext class="rightRs">&gt;</button>
  </ngx-carousel>
</div>
<div class="wrapper" id="scrollHere" name="scrollHere">

  <div class="homepagecontentheading">
    <h2>Admission</h2>
  </div>

  <div class="homepageContent">
    <p>UCM students come from across the U.S. and the world, representing diverse experiences, backgrounds and cultures.</p>
  </div>

  <div class ="homepageheading1">
    <h4>Undergraduate Admissions</h4>
  </div>

  <div class="homepagecontent1">
    <p>
      Welcome to UCM! Whether you’re simply beginning your college search or are ready to Choose Red, you’re in the right
      place. Our admissions guide and online viewbookincludes all the information you’ll need – important dates, advice
      to prepare you for your college journey and of course, a look into life at UCM.
      At UCM, your education will extend beyond the classroom. You’ll: </p>
        <ul>
          <li>Receive hands-on experiences through internships and state of the art technologies.</li>
          <li>Impact the community through service-learning projects.</li>
          <li>Have the opportunity to broaden your perspectives through study tours and semesters abroad.</li>
          <li>Choose from one of 150 academic programs to gain the knowledge and skills you need to succeed in the future.</li>
        </ul>
  </div>

  <div class="homepageheading2">
    <p>
      UCM at a Glance:
    </p>
  </div>
  <div class="homepagecontent2 row">
    <div class="col-xs-2">
      513
    </div>
    <div class="col-xs-4">
      Full-time Faculty
    </div>
  </div>

  <div class="homepagecontent2 row">
    <div class="col-xs-2">
      14,395
    </div>
    <div class="col-xs-4">
      UCM Students
    </div>
  </div>

  <div class="homepagecontent2 row">
    <div class="col-xs-2">
      200
    </div>
    <div class="col-xs-4">
      Student Organizations
    </div>
  </div>

  <div class="homepagecontent2 row">
    <div class="col-xs-2">
      150
    </div>
    <div class="col-xs-4">
      Programs of Study
    </div>
  </div>

  <div class="homepagecontent2 row">
    <div class="col-xs-2">
      97%
    </div>
    <div class="col-xs-4">
      First Destination Success Rate*
    </div>
  </div>

  <div class="homepagecontent2 row">
    <div class="col-xs-2">
      92%
    </div>
    <div class="col-xs-4">
      Students Receive Financial Aid
    </div>
  </div>

  <div class="homepagecontent2 row">
    <div class="col-xs-2">
      $5 Million
    </div>
    <div class="col-xs-4">
      Annual Merit-Based Scholarships
    </div>
  </div>

  <div class="homepagecontent2 row">
    <div class="col-xs-2">
      19,000
    </div>
    <div class="col-xs-4">
      Warrensburg Residents
    </div>
  </div>

  <div class ="homepageheading2">
    <h4>Transfer Student</h4>
  </div>

  <div class ="homepagecontent2">
    <p>Finish strong. Transfer your credits to the University of Central Missouri. As a transfer student you'll experience a
    transfer friendly enrollment process, and a hands-on, innovative approach to learning while gaining the skills necessary
    for success. From future-focused academics to an energetic campus focused on student life, you're sure to find the perfect
      fit as a UCM transfer student.</p>
    <div class = "homepageheading2">
      <h4>Discover multiple ways to learn and grow.</h4>
    </div>
      <ul>
        <li>UCM offers more than 150 programs to launch your career.</li>
        <li>Learn from professors that know you by your first name.</li>
        <li>Join one of more than 200 student organizations.</li>
        <li>Benefit from free tutoring, writing support and academic enrichment services.</li>
      </ul>

      <p>
        UCM is committed to keeping your college experience affordable. Our commitment provides many opportunities to help
        you finance your education:</p>
    <ul>
       <li>Apply for financial aid.</li>
        <li>Find and apply for a variety of scholarships.</li>
        <li>Not a Missouri resident? No problem. Enjoy in-state tuition if your home state is one of Missouri's eight
          bordering states.</li>
        <li>15-to-Finish Scholarship available for transfer students who graduate on time</li>
        <li>Our vibrant campus environment will make you feel right at home.</li>
    </ul>
       <p> Visit campus to find out how UCM transfer students are Learning to a Greater Degree.</p>
    <div class="homepagecontent2"><iframe width="560" height="315" src="https://www.youtube.com/embed/D8eYEOQAcG4" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
  </div>

  <div class= "homepageheading2">
    <h4>Graduate School Admissions</h4>
  </div>
  <div class="homepagecontent2">
    <h4>Welcome to Graduate School</h4>
    An applicant for admission to a master's degree program must have a bachelor's degree. An applicant for admission to an
    Education Specialist's degree program must have a master's degree. Prerequisite degrees must be from institutions accredited
    by agencies recognized by the University of Central Missouri.
    <h4>Admission to the Program</h4>
    Department admission requirements for specific graduate programs are listed in the Graduate Catalog.
    Some programs require standardized tests, such as the GRE or GMAT, and some require a minimum GPA, letters of
    recommendation, a statement of purpose, and/or other materials.
    <h4>Two Steps to Admission</h4>
    Admission to a graduate program at UCM is a two-part process. First, you must be admitted to Graduate School.  If you
    are admitted to Graduate School, your application is then forwarded to the department containing your graduate degree program.  Second, that department then makes a recommendation on admitting you to the degree program.
    To submit your application, go to our online application form. You will need to pay a nonrefundable application fee and arrange for official transcripts from all colleges or university you have attended to be sent to the Graduate and International Student Services Office.
    <h4>Please see the University's immunization policy.</h4>
    Central Missouri Graduate Students (Who Have Not Completed A Graduate Degree)
    If you are returning to Graduate School at the University of Central Missouri after an absence of a year or more
    and your degree has not been awarded, please complete a new application. You will not have to pay the application
    fee for readmission.
  </div>
  <p></p>
</div>




