<div class="row carouselclass">
  <ngx-carousel [inputs]="carouselConfig">
    <ngx-item *ngFor="let item of items" NgxCarouselItem>
      <img style="width: 100% ; height: 40% ;" [src]="item.title" alt="not available" />
    </ngx-item>
    <button NgxCarouselPrev class="leftRs">&lt;</button>
    <button NgxCarouselNext class="rightRs">&gt;</button>
  </ngx-carousel>
</div>
<div class="wrapper" id="scrollHere" name="scrollHere">

  <div class="homepagecontentheading">
    <h2>Academics</h2>
  </div>

  <div class="homepageContent">
    <p>UCM values lifelong learning</p>
  </div>

  <div class="homepagecontent2 row">
  <div class="cdf" class="col-xs-5">
    <!--iFrames allows you to embed a webpage w/in a web page-->
    <!--  <iframe width="300" height="200" src="https://www.youtube.com/embed/tvecU_Y_CQ0?list=PL0KjPtx-OKKqjBrfcE3UB_zaIgUKx9442"
                 frameborder="0" allowfullscreen></iframe>
-->
    <iframe width="350" height="300" src="https://www.youtube.com/watch?time_continue=13&v=jfgdO-XBGus" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="abc col-xs-7">
    <p>The University of Central Missouri's commitment to continuous learning allows students to find their own sense of purpose
      and equips them with the tools to make it a reality. The cornerstones of UCM are future-focused academic programs,
      engaged learning opportunities, culture of service and worldly perspective. These building blocks allow
      students to flourish at UCM, and, most importantly, these elements prepare them for a life of continuous learning.
      At UCM, students will experience learning to a greater degree.
    </p>
  </div>
  </div>

  <div class="homepageheading3">
    <h4>Our Majors</h4>
  </div>
  <div class="homepagecontent3 row">
    <div class="abc col-xs-7">
    <p>
      At UCM, you will gain valuable hands-on experience and real-world skills to help you excel in a fast-paced world.
      See our list of undergraduate majors for descriptions of each program and a four-year plan of study tailored to your needs.
      UCM also offers a number of minors to help customize your education.
    </p>
    </div>
    <div class="cdf" class="col-xs-5">
      <!--iFrames allows you to embed a webpage w/in a web page-->
      <!--  <iframe width="300" height="200" src="https://www.youtube.com/embed/tvecU_Y_CQ0?list=PL0KjPtx-OKKqjBrfcE3UB_zaIgUKx9442"
                   frameborder="0" allowfullscreen></iframe>
  -->
      <iframe width="350" height="300" src="https://www.youtube.com/watch?v=NbnqRwo_aSQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
  <div class="homepageheading4">
    <h4>Learning to a Greater Degree Contract</h4>
  </div>
  <div class="homepagecontent4 row">
    <div class="cdf" class="col-xs-5">
      <!--iFrames allows you to embed a webpage w/in a web page-->
      <!--  <iframe width="300" height="200" src="https://www.youtube.com/embed/tvecU_Y_CQ0?list=PL0KjPtx-OKKqjBrfcE3UB_zaIgUKx9442"
                   frameborder="0" allowfullscreen></iframe>
  -->
      <iframe width="350" height="300" src="https://www.youtube.com/watch?v=x1BFNb9B2t0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="abc col-xs-7">
      <p>The University of Central Missouri's commitment to continuous learning allows students to find their own sense of purpose
        and equips them with the tools to make it a reality. The cornerstones of UCM are future-focused academic programs,
        engaged learning opportunities, culture of service and worldly perspective. These building blocks allow
        students to flourish at UCM, and, most importantly, these elements prepare them for a life of continuous learning.
        At UCM, students will experience learning to a greater degree.
      </p>
    </div>
  </div>

  <div class="homepageheading5">
    <h4>Graduate Studies</h4>
  </div>
  <div class="homepagecontent5">
    Our graduate programs offer both high academic quality and convenience, with many courses offered online, in the evening,
    or on weekends. Several degree programs can be completed online
  </div>

  <div class="homepageheading6">
    <h4>General Education Requirements</h4>
  </div>
  <div class="homepagecontent6">
    To complete a degree from UCM, students must complete a specific number of credits from several general education areas.
  </div>

  <div class="homepageheading7">
    <h4>Study Abroad Opportunities</h4>
  </div>
  <div class="homepagecontent7">
    Students may study in more than 60 countries. While studying abroad through a UCM-sponsored program, students pay
    in-state UCM tuition and are enrolled as full-time students and can use their financial aid to fund their study.
  </div>

  <div class="homepageheading8">
    <h4>Summer Sessions</h4>
  </div>
  <div class="homepagecontent8">
    Continue your education during the summer by taking one of UCM's courses offered in the summer. Accelerate your education
    and get your degree quicker!
  </div>

  <div class="title">
    <h4>Authority to Confer Degrees</h4>
  </div>
  <div class="content">
    As set forth in Missouri Revised Statutes Chapter 174 at 174.160, UCM has been assigned the authority to confer degrees.
    The Board of Regents of each state college and each state teachers college shall have power and authority to confer
    upon students, by diploma under the common seal, such degrees as are usually granted by such colleges
  </div>
  </div>



