.homepageContent{
  margin-left: 20px;
  margin-right: 10px;
  font-weight: bold;
}
.homepagecontentheading{
  color: red;
  margin-left: 20px;
  font-weight: bold ;
  text-decoration-line: underline;
}
.homepageheading2{
  color: red;
  margin-left: 20px;
  font-weight: bold ;
  text-decoration-line: underline;
}
.homepagecontent2{
  margin-left: 20px;
  margin-right: 10px;
  font-weight: bold;
}
.mainDiv{
  overflow: auto;
}
.wrapper {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  overflow: auto;
}

.cdf{
  font-weight: bold;
  color: black;
}

